.badge {
  border: 1px solid var(--color-line);
  color: var(--color-dim);
  padding: .2em .6em;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: var(--color-line);
  }
}
