.search {
  margin-top: var(--row-gap-xsmall);

  /* Pagefind tweaks */
  & .pagefind-ui__search-input {
    font-weight: normal;

    &::placeholder {
      opacity: 1;
      color: var(--color-dim);
    }

    &:focus {
      box-shadow: 0 1px 5px rgba(0,0,0,0.2);
      border-color: var(--color-dim);
    }
  }
}
