<ul class="postList">
  {% asyncEach post in postslist %}
  <li class="post">
    <h2 class="post-title">
      <a href="{{ post.data.url }}" {% if post.data.url == url %} aria-current="page"{% endif %}>
        {{ post.data.title or post.data.url }}
      </a>
    </h2>

    {% set date = post.data.date %}
    {% set tags = post.data.tags %}
    {% set author = post.data.author %}
    {% set readingTime = post.data.readingTime %}
    {% include "templates/post-details.njk" %}
  </li>
{% endeach %}
</ul>
