---
layout: layouts/base.njk
bodyClass: body-tag
---
<article class="post" data-pagefind-body>
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>

    {{ subtitle | md | safe }}
  </header>

  <div class="post-body">
    {{ content | safe }}
  </div>
</article>