---
layout: layouts/base.njk
bodyClass: body-post
---
<article class="post" data-pagefind-body data-title="{{ title }}" data-pagefind-index-attrs="data-title">
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>

    {% include "templates/post-details.njk" %}
  </header>

  {% if toc.length > 1 or toc[0].children.length %}
  <nav class="toc">
    <h2>Table of contents</h2>
    <ol>
      {% for item in toc %}
      <li>
        <a href="#{{ item.slug }}">{{ item.text }}</a>

        {% if item.children.length %}
        <ul>
          {% for child in item.children %}
          <li>
            <a href="#{{ child.slug }}">{{ child.text }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </nav>
  {% endif %}

  <div class="post-body body">
    {{ content | safe }}
  </div>
</article>

<nav class="page-pagination pagination">
  <ul>
    {%- set previousPost = search.previousPage(url, "type=post") %}
    {%- if previousPost %}
    <li class="pagination-prev">
      <a href="{{ previousPost.data.url }}" rel="prev">
        <span>← Older post</span>
        <strong>{{ previousPost.data.title }}</strong>
      </a>
    </li>
    {% endif %}

    {%- set nextPost = search.nextPage(url, "type=post") %}
    {%- if nextPost %}
    <li class="pagination-next">
      <a href="{{ nextPost.data.url }}" rel="next">
        <span>Newer post →</span>
        <strong>{{ nextPost.data.title }}</strong>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
