<!doctype html>

<html lang="{{ metas.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metas.title }}</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metas.site }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ metas.site }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="navbar-home">
        <strong>{{ metas.site }}</strong>
      </a>

      <ul class="navbar-links">
      {%- for entry in search.pages("menu.visible=true", "menu.order") %}
        <li>
          <a href="{{ entry.data.url }}"{% if entry.data.url == url %} aria-current="page"{% endif %}>
            {{ entry.data.menu.title or entry.data.title }}
          </a>
        </li>
      {%- endfor %}
      </ul>
    </nav>

    <main class="{{ bodyClass }}">
      {{ content | safe }}
    </main>

    <!-- Current page: {{ url }} -->
  </body>
</html>
